{% extends 'base.html.twig' %}

{% block title %}Hello PagueController!{% endblock %}

{% block body %}
<a href="/pague/create" class="btn btn-dark mb-3">Adicionar</a>

    <ul class="list-group">
    {% for employee in employeeList %}
    <li class="list-group-item ">{{ employee.name }}</li>
    </ul>
{% endblock %}
